body {
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header .trybewarts-header-logo {
  height: 80px;
}

#trybewarts-header-title {
  color: white;
  margin: auto;
}

header .trybewarts-login {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
}

header form > * {
  margin-right: 10px;
}

main {
  display: flex;
  margin-top: 30px;
  overflow-x: auto;
}

main form > * {
  margin-bottom: 10px;
  display: flex;
}

#container-family, #container-most-want-to-learn {
  margin-top: 10px;
}

#label-family, #label-content {
  margin-bottom: 10px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#container-name > input, #email-house-container > input {
  margin-right: 20px;
}

#containers-side-by-side > * {
  margin-right: 70px;
}

#container-family {
  display: flex;
  flex-direction: column;
}

#container-most-want-to-learn {
  display: flex;
  flex-direction: column;
}

#label-rate {
  margin-right: 20px;
}

#container-describe {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

button {
  background-color: #4e2c83;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #3c404a;
  color: white;
}