header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header .trybewarts-header-logo {
  height: 80px;
}

header .trybewarts-login {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
}

header form *:nth-child(1):nth-child(n+2) {
  margin-right: 10px;
}

#trybewarts-header-title {
  margin: auto;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

button {
  background-color: #4e2c83;
}